@import "./../../styles/libs/variables";

.page {
  height: calc(100vh - 100px);
  margin-top: 50px;
  padding: 15px;
}
.statisticsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.loadingContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    color: $mainColor;
  }
}
