@import "../../../../styles/libs/variables";

.post {
}
.postWrapper {
  display: flex;
  gap: 20px;
}
.postImage {
  flex: 1 1 25%;
  width: 200px;
  height: 150px;

  @media (min-width: 1600px) {
    height: 200px;
  }
  @media (min-width: 1920px) {
    height: 250px;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.postBody {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  padding: 0px 20px 0px 20px;

  & .postBodyWrapper {
    display: flex;
    flex-direction: column;
    .infoBlock {
      margin: 0 0 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 1600px) {
        margin: 0 0 15px 0;
      }
      @media (min-width: 1920px) {
        margin: 0 0 20px 0;
      }
      & .date {
        font-size: 12px;
      }
      & .category {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        & svg {
          fill: gray;
        }
      }
    }

    & .title {
      margin: 0 0 10px 0;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 20px;
      line-height: 1.2;
      overflow: hidden;
      word-break: break-word;

      @media (min-width: 1600px) {
        margin: 0 0 15px 0;
        font-size: 24px;
      }
      @media (min-width: 1920px) {
        margin: 0 0 20px 0;
        font-size: 26px;
      }
    }
    & .description {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 12px;
      line-height: 1.5;
      overflow: hidden;
      word-break: break-word;
      // width: calc(100% - 200px);

      @media (min-width: 1600px) {
        font-size: 14px;
      }
      @media (min-width: 1920px) {
        -webkit-line-clamp: 3;
        font-size: 16px;
      }
    }
  }
}
.postActions {
  margin-top: auto;
  display: flex;
  gap: 10px;
}
