@import "../../styles/libs/variables";
.auth {
  height: 100vh;
  background-color: black;
  // background: url("./../assets/body-background.png") 20% 20% / cover;
  opacity: 0.7;
}
.authWrapper {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 0 20px;
}

.authBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.welcomeText {
  display: flex;
  flex-direction: column;
  text-align: center;
  & h1 {
    font-size: 36px;
    margin: 0 0 20px 0;
  }
  & span {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.authLogo {
  width: 300px;
}
