@import "./libs/normalize";
@import "./libs/variables";

body {
  // background-color: $bgColor;
  background-color: black;
  // background: url("./../assets/body-background.png") 0% 0% / cover;
  color: $whiteColor;
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
}
