@import "../../styles/libs/variables";
.page {
  height: calc(100vh - 100px);
  margin-top: 50px;
  padding: 15px;
}
.homePageWrapper {
}
.fistBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.numberOfLikes {
}
