.button {
  background: #39f198;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  padding: 10px 30px;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    opacity: 0.8;
  }
}
