@import "../../styles/libs/variables";

.header {
  margin: 0 0 20px 0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: sticky;
  z-index: 1100;
  left: auto;
  right: 0px;
  //   box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
  //     rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  backdrop-filter: blur(2.625rem);
  color: rgb(255, 255, 255);
  top: 1.85rem;
  min-height: 4.6875rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1.25rem;
  padding: 0.5rem 0px;
  background-color: transparent !important;
}

.header.sticky {
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0125rem 0.0125rem inset,
    rgba(0, 0, 0, 0.05) 0rem 0.25rem 0.3875rem 0rem;
  border-color: rgba(226, 232, 240, 0.3) !important;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: auto;
  padding: 0.25rem 1rem;
  border-radius: 10px;
}

.navBar {
  & div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    color: gray;
  }

  div svg {
    fill: gray;
    width: 16px;
    height: 16px;
    &:hover {
      fill: white;
    }
  }
}
.navLinkText:hover {
  cursor: pointer;
  color: white;
}
.headerActions {
  & .auth {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
    // transition: color 0.3s ease;

    & .authUser {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    & .authImage {
      position: relative;
      display: flex;
      cursor: pointer;
      & img {
        width: 25px;
      }
      & .online {
        position: absolute;
        top: -3px;
        right: -1px;
        width: 10px;
        height: 10px;
        background: rgb(8, 255, 8);
        border-radius: 50%;
      }
    }
    & .authText {
      font-size: 16px;
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0 10px 0 0;
      &:hover {
        color: $mainColor;
        cursor: pointer;
      }
    }
    & .authSignUp {
      display: flex;
      cursor: pointer;
      font-size: 25px;
      &:hover {
        color: $mainColor;
      }
    }
  }
}
.navIcon {
  cursor: pointer;
}
