@import "../../styles/libs/variables";

.asideBar {
  width: 270px;
  z-index: 1200;
  position: fixed;
  top: 25px;
  left: 0px;
  margin: 1rem;
  border: none;
  outline: 0px;
  height: 92vh;
}
.asideBarWrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;

  & div {
    background: white;
    color: rgb(3, 12, 29);
    padding: 5px 10px;
    border-radius: 10px;
  }
  & span {
    background-image: linear-gradient(
      97.89deg,
      rgb(255, 255, 255) 70.67%,
      rgba(117, 122, 140, 0) 108.55%
    );
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}

.divider {
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 2rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 117, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}

.menuList {
}
.menuItem {
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0.675rem 0.8rem 0.675rem 1rem;

  border-radius: 0.9375rem;
  cursor: pointer;
  //   user-select: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  & .itemIcon {
    color: $whiteColor;
    flex-shrink: 0;
    background: rgb(26, 31, 55);
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 0.75rem;
    display: grid;
    place-items: center;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem,
      rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    transition: all 0.3s ease;

    & svg {
      transition: all 0.3s ease;
      fill: $mainColor;
      margin-left: 1px;
      width: 15px;
      height: 15px;
    }
  }
  & .itemText {
    & span {
      font-size: 14px;
      color: $whiteColor;
    }
  }
}

.menuItem:hover {
  background: rgb(26, 31, 55);

  & svg {
    fill: rgb(26, 31, 55);
  }
  & .itemIcon {
    background: $mainColor;
  }
}

.activeLink {
  background: rgb(26, 31, 55);

  & svg {
    fill: rgb(26, 31, 55) !important;
  }
  & .itemIcon {
    background: $mainColor;
  }
}

.authStatusInfo {
  margin-top: auto;
  -webkit-backdrop-filter: blur(120px);
  backdrop-filter: blur(120px);
  background: none;

  font-size: 16px;
  border-radius: 20px;
  color: black;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px 0 13px 0;
    & li {
      padding-top: 2px;
      padding-bottom: 2px;
      background: none;
      &:hover {
        background: none;
      }
      & .itemIcon {
        background: #5842fc;
        & svg {
          fill: white !important;
        }
      }
    }
  }
}
