.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.867);
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  max-width: 600px;
  margin: 20px auto;
  background: rgb(3, 12, 29);
  height: auto;
  padding: 20px 0;

  @media (min-width: 1920px) {
    max-width: 650px;
    width: 100%;
  }
}

.imageContainer {
  max-height: 400px;
  padding: 0px 20px 0px 20px;

  & img {
    height: 250px;
    width: 100%;
    @media (min-width: 1920px) {
      height: 350px;
    }
  }

  & .imageActions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      font-size: 16px;
    }
  }
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  @media (max-width: 1600px) {
    gap: 20px;
  }

  & input,
  textarea {
    height: 40px;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.17);
    border-color: rgb(57 127 241);
    border-style: solid;
    border-width: 1px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  & textarea {
    min-height: 120px;
    @media (min-width: 1600px) {
      min-height: 200px;
    }
  }
}

.btn {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background: rgb(57 127 241);
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 30px;
  transition: background-color 0.3s ease;
  width: auto;
  align-self: center;
  transition: background-color 0.3s ease;
  opacity: 1;
  &:hover {
    background: rgb(12, 68, 159);
  }
  & span {
    width: 10px !important;
    height: 10px !important;
    color: white;
    & svg {
      width: 10px !important;
      height: 10px !important;
    }
  }
}
.active {
  pointer-events: none;
  opacity: 0.5;
}

.saveBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.roleError {
  font-size: 0.7vw;
  color: red;
}
