@import "../../../styles/libs/variables";

.largeWidgetWrapper {
  max-height: 710px;
  overflow: hidden;
  backdrop-filter: blur(120px);
  overflow-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  height: 100% !important;
  // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  background: linear-gradient(
      127.09deg,
      rgba(6, 11, 40, 0.94) 19.41%,
      rgba(10, 14, 35, 0.49) 76.65%
    )
    border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-image: initial;
  border-radius: 1.25rem;
}

.titleContainer {
  margin: 20px;

  & .title {
    margin: 0px 0 5px 0px;
  }

  & .checkInfo {
    margin: 10px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px 0;
    & svg {
      fill: green;
    }
    & span {
      font-size: 0.875rem;
      line-height: 1.5;
      opacity: 1;
      text-transform: none;
      vertical-align: unset;
      text-decoration: none;
      color: rgb(160, 174, 192);
      font-weight: 400;
    }
  }
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 20px;
}
.divider {
  flex-shrink: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.402);
  margin: 5px 0 5px 0;
}
.statisticsBlock {
  padding: 20px;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;

  & .title {
    font-size: 1.125rem;
    line-height: 1.625;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
}

.statisticsList {
  overflow-y: scroll;
  min-height: 215px;
  max-height: 215px;
}
.headerTables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 0 10px 0;
  & span {
    width: auto;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    // border-bottom: 0.0625rem solid rgb(45, 55, 72);
    opacity: 0.7;
    background: transparent;
    color: rgb(160, 174, 192);
  }
}

.visitItem {
  & .visitItemWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    border-top: 0.0625rem solid rgb(45, 55, 72);
    padding: 10px 0px;

    & .itemTitle {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5;
      display: flex;
      align-items: center;

      & svg {
        fill: $mainColor;
        margin-right: 10px;
      }
    }
    & .itemQuantity {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & span {
    color: $mainColor;
  }
}
